.cardNumber{
    padding-top: 20%;
    padding-right: 20%;
    color: rgb(234, 234, 234);
    font-size: 4vw; 
}
.accountName{
    /* padding-top: 40%; */
    padding-right: 35%; 
    color: rgb(234, 234, 234);
    font-size: 2.5vw; 
}
.expiration{
    padding-right: 53%; 
    color: rgb(234, 234, 234);
    font-size: 2vw; 
    
}
.expiryDate{
    padding-right: 68%; 
    color: rgb(234, 234, 234);
    font-size: 2vw; 
    margin: '0.7rem 0',
}